google-api-core==1.22.0
google-python-cloud-debugger==2.15
grpcio-health-checking==1.30.0
grpcio==1.30.0
python-json-logger==0.1.9
google-cloud-profiler==1.0.8
requests==2.24.0
opentelemetry-sdk==1.0.0rc1
opentelemetry-exporter-otlp==1.0.0rc1
opentelemetry-exporter-jaeger==1.0.0rc1
opentelemetry-propagator-b3==1.0.0rc1
opentelemetry-distro==0.18b0
opentelemetry-instrumentation==0.18b0
opentelemetry-instrumentation-grpc==0.18b0
