google-api-core==1.22.0
google-python-cloud-debugger==2.15
grpcio-health-checking==1.30.0
grpcio==1.30.0
python-json-logger==0.1.9
google-cloud-profiler==1.0.8
requests==2.24.0
opentelemetry-sdk==0.16b1
opentelemetry-exporter-otlp==0.16b1
opentelemetry-instrumentation==0.16.b1
opentelemetry-instrumentation-grpc==0.16b1
